<div class="history-warning-holder">
  <md-card class="history-info-card history-info-warning md-g-blue-theme " style="background-color: rgb(246,246,246)">
    <md-card-content layout="row" layout-align="start center">
      <!--div class="md-whiteframe-z2 history-search-box" layout="row" flex="">
        <img src="https://www.gstatic.com/images/icons/material/system/2x/search_grey600_24dp.png"
             class="history-search-icon" height="24" align="left">
        <input class="history-search-box-input ng-pristine ng-valid ng-touched"
               placeholder="Búsqueda" type="text" id="searchBox"
               ng-model="lookupController.query"
               ng-keypress="($event.which === 13)?vm.search():0"
               flex=""
               tabindex="0"
               aria-invalid="false">
      </div-->
    </md-card-content>
  </md-card>
</div>

