<div class="history-page-header" style="min-height: 190px">
  <div class="history-page-header-width">
    <div class="history-illustration-holder" layout="row" layout-align="center end">
      <ng-md-icon options='{"duration": 375}' icon="{{vm.icon}}" style="fill: #abcdef" size="124"></ng-md-icon>
      <!--img src="//www.gstatic.com/history/static/images/waa_illustration.png" align="left" width="300"-->
    </div>
    <h2 hide-sm="" layout-padding="">{{vm.title}}</h2>

    <p class="history-page-description" layout-padding="">{{vm.sub}}</p>
  </div>
</div>
